@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200;1,500&family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(17, 17, 17); */
    background-color: pink;
}

header {
    background-color: rgba(236, 234, 234, 0.319);
    color: rgb(88, 87, 87);
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    padding: 0.5rem;
    max-width: 100%;
    min-width: 5rem;
    height: 2rem;
    min-height: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 0.4rem;
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
}

header em {
    font-size: 0.9rem;
    margin-left: 15rem;
}


main {
    max-width: 100%;
    /* background-color: rgb(122, 115, 115); */
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

/* ================================ - Hjärtknappen/Spara historik. Eventuellt mer "knapapr" kommer- =============- */
.menu-sidan {
    /* background-color: #f7f5f5e1; */
    border-radius: 7px;
    margin-left: 2.5%;
    position: absolute;
    /* position: sticky; */
}

.sidan div {
    width: 2.2rem;
    background-color: #f7f5f5e1;
    border-radius: 7px;
    position: absolute;
    position: sticky;
}

.sidan i {
    margin-left: 2%;
    font-size: 2rem;
    color: rgb(243, 113, 135);
}

/* ================================ - hejärtknapp END  - =============- */

.chat-container {
    /* grid-gap: 1rem;
    grid-column-end: end;
    flex-direction: column; */
    /* margin-left: 7%; */
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(255, 108, 206, 0.7);
    padding: 0.5rem;
    padding-bottom: 2rem;
    max-width: 85%;
    min-width: 85%;
    height: 80rem;
    min-height: 50%;
    max-height: 75%;
    /* position: relative; */
    position: absolute;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: pink;
    background-image: url(/assets/img/3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333a8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}

::-webkit-scrollbar-corner {
    height: -10px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}



::-webkit-scrollbar-track {
    background: #ffa5f700;
}

::-webkit-scrollbar-thumb {
    background: #8f8c8c9d;
    height: 10%;
    scroll-padding-top: 10%;
}

::-webkit-scrollbar-button {
    height: 2%;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #858383ab;
}



.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    line-height: 1.4;
    margin-top: 45px;
}


.logo {
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: -45px;
    width: 50px;
    height: 50px;
}

.message {
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 10px;
    box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.144);
    position: relative;
    margin-bottom: 40px;
    padding: 1.5rem;
}

.message.left {
    padding: 0px 20px 0px 20px;
    background-color: #b4dceefb;
    background-color: #bae7e5fb;
}

.message.right {
    align-self: flex-end;
    padding: 0px 20px 0px 20px;
    background-color: #f79dff;
    background-color: #e7bae7fb;
}

.message.left p {
    max-width: 100%;
    text-rendering: 5px;
    white-space: pre-line;
    font-size: 18px;

}

.message.message.right p {
    max-width: 100%;
    text-rendering: 5px;
    white-space: pre-line;
    font-size: 18px;
}

.message.right .logo {
    left: auto;
    right: 10px;
}

/* =========-Chatt-Message END-=================== */




.codeblock {
    background-color: #333;
    max-width: 75%;
    border-radius: 3px;
    padding: 1.5rem;
    color: rgb(250, 88, 196);
    font-family: monospace;
    margin: 1rem;
    font-size: 18px;
}

.uil .uil-copy {
    z-index: 3;
    background-color: none;
    display: inline;

}

/* ================================ - input - =============- */


.inputContainer {
    z-index: 1;
    margin-bottom: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    /* background-color: #333; */
}

/* =====Radera? Hummm=== */
/* .inputContainer #form {
    margin-top: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#form button {
    flex-wrap: nowrap;
} */
/* =====Radera? Hummm=== */

.inputContainer input {
    justify-content: center;
    align-content: center;
    max-width: 100%;
    width: 20rem;
    background-color: rgba(250, 245, 246, 0.815);
    border-color: rgba(105, 250, 255, 0.459);
    box-sizing: border-box;
}

.text_input {
    padding: 10px 15px;
    border-radius: 7px;
}

#input_button {
    border-radius: 15px;
    background-color: #cbfffc;
    border: none;
}

.tooltip {
    float: right;
    background-color: #cbffcf00;

}

.tooltip button {
    padding-left: 2rem;
    background-color: #f79dff00;
    border: none;
    color: rgb(255, 255, 255);
    z-index: 3;
}


#input_button:hover {
    background-color: #cbffcf;
}

.input-res {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 15px/1 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 50%;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

/* ================================ - input END - =============- */